<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {{users}}
    <h1>Users</h1>
    {% for user in users %}
        <p>
            <a href="/users/{{user.id}}">
            {{user.first_name}} {{user['last_name']}}    </a> email:{{user.email}} <a href="/users/edit/{{user.id}}">edit</a></p>
    {% endfor %}

</body>
</html>