<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    {{session}}
<h1>Index Page</h1>
<h3>Create a User</h3>
<form action='/users' method='post'>
    <input type="hidden" name="id" value="{{session.id}}">
    name<input type='text' name='name'>
    email<input type='text' name='email'>
    <input type='submit' value='create user'>
</form>

<h1>{{session['lucky']}}</h1>
<p>{{session.tyler}}</p>

<a href="/logout">clear session</a>
<a href="/about">about Lucky</a>


</body>
</html>